__pycache__/

.pytest_cache/
*.pyc
.coverage
coverage.xml
.hypothesis/
*.tmp

allure-results/
allure-report/

*.egg-info/
.idea/

.ocarina_logs*/

.venv/
*.reports/
.screenshots/
.webdriver_*

.env
.env.*
*.local
!.env.example
